[submodule "Stripe/vendor/spdlog"]
	path = Stripe/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Stripe/vendor/GLFW"]
	path = Stripe/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
